<ul>
  {% for stackLink in global.stackLinks %}
    <li class="p4 flex align-middle justify-center">
      <a href="{{ stackLink.link }}">
        <button>
          <div class="flex align-middle justify-center m-2 p-2 w-80 bg-cyan-700 shadow-md rounded-lg hover:bg-cyan-600">
            <img class="fill-black stroke-black size-6" src="{{ stackLink.iconPath }}"></img>
            <p class="pl-2">{{ stackLink.text }}</p>
          </div>
        </button>
      </a>
    </li>
  {% endfor %}
</ul>