<!doctype html>
<html lang="en">

<body>
  <header>
    </header>
    <main>
    {{global.pageTitle}}
    {% image "images/profile_image.jpg", "profile picture" %}
    {% include "stackLinks.liquid" %}
  </main>
</body>
<html>