<!DOCTYPE html>
<html lang="en">
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,700;1,800&display=swap"
    rel="stylesheet"/>
  <link rel="stylesheet" href="/css/tailwind.css"/>
  <body class="flex-row h-screen w-screen bg-gradient-to-r from-cyan-700 to-sky-900 text-slate-200 font-SourceCodePro">
    <div class="flex justify-center p-6">
      {% image "rounded-full w-54 sm:w-36",
    "src/images/profile_image.jpg", "profile picture" %}
    </div>
    <div class="flex justify-center grow">
      <p class="font-bold text-4xl sm:text-3xl">
        {{ global.pageTitle }}
      </p>
    </div>
    <div class="flex justify-center">
      <p class="text-base sm:text-sm pb-10">
        {{ global.pageSubtitle }}
      </p>
    </div>
    <div class="flex-col">
      {% for stackLink in global.stackLinks %}
        <div class="flex justify-center ">
          <a class="w-1/2 sm:w-64 flex justify-center items-center m-3 p-3 sm:p-2 sm:m-2 bg-cyan-700 shadow-lg rounded-lg hover:bg-cyan-600" href="{{ stackLink.link }}">
            <img class="fill-black stroke-black size-8 sm:size-6" src="{{ stackLink.iconPath }}"/>
            <p class="pl-4 text-lg sm:text-base">
              {{ stackLink.text }}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
  </body>
</html>